[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gensim = "*"
nltk = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"
scikit-learn = "*"
scipy = "*"
tqdm = "*"
torch = "*"
Flask = "*"
Werkzeug = "*"
ConfigArgParse = "*"
tensorboardX = "*"

[requires]
python_version = "3.7"
